<div class="py-5 position-relative mb-5 about-header">
  <div class="container py-5">
      <h1 class="display-2 text-white animated slideInDown mb-4">About Us</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
        </ol>
      </nav>
  </div>
</div>

<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://th.bing.com/th/id/R.e5da5be9feb935c217171d9197f03b4f?rik=YQ9UvstbiTBahw&pid=ImgRaw&r=0"
          alt=""
        />
      </div>
      <div class="col-lg-7">

        <h1 class="mb-4">Wie affinity group</h1>
        <p style="text-align: justify;">
          WIE, an acronym for Women in Engineering, represents a vibrant community within the IEEE that serves as a beacon for diversity, inclusion, and innovation in the engineering realm.

          our  affinity group dedicated to empowering women engineers, scientists, academia, and industry professionals across diverse engineering fields.

          As an integral part of the IEEE, our Women in Engineering (WIE) community sets the gold standard for fostering diversity, inclusion, and innovation in the engineering realm.

        </p>
        <div class="row pt-2 pb-4">
          <div class="col-6 col-md-4">
            <img class="img-fluid rounded" src="https://th.bing.com/th/id/R.1d3336dbdf905a45fb81d8ded20f6313?rik=LXeH946BUmuGuw&riu=http%3a%2f%2fi.huffpost.com%2fgen%2f4909332%2fimages%2fo-TUNISIA-SCHOOL-facebook.jpg&ehk=pnWOzLazA6gjtbOTMkmo4Bmi5Vfgqr%2fF4focbqzHevY%3d&risl=&pid=ImgRaw&r=0" alt="" />
          </div>
          <div class="col-6 col-md-8">
            <ul class="list-inline m-0">
              <li class="py-2 border-top border-bottom">
                <i class="fa fa-check text-primary"></i><b class="mx-2">Promoting Diversity and Inclusion</b>
              </li>
              <li class="py-2 border-bottom">
                <i class="fa fa-check text-primary"></i><b class="mx-2">Empowering Women in Engineering</b>
              </li>
              <li class="py-2 border-bottom">
                <i class="fa fa-check text-primary"></i><b class="mx-2">Enabling Positive Impact on the World</b>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">

        <h1 class="mb-4">Wie hope</h1>
        <p  style="text-align: justify;">
          Welcome to WIE Hope, a dynamic web application empowered by the IEEE ENSIT WIE Affinity Group.

          WIE Hope is more than just an innovative platform; it represents our commitment to making a positive impact, guided by the core values of the IEEE ENSIT WIE Affinity Group.

          Our application is crafted by a team of young engineers driven by the desire to engage in meaningful and positive actions. We are dedicated to inspiring others to join us in empowering young students, helping them rise above the challenges of poverty, and ensuring they navigate their school years under improved conditions. Together we build a future where everyone has the opportunity to thrive and contribute to the positive transformation of our world.

          Welcome to WIE Hope – where innovation, empowerment, and positive action converge.



        </p>
        <ul class="list-inline m-0">
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i><b class="mx-2">Empowering Young Students</b>
          </li>
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i><b class="mx-2">Building a Supportive Community</b>
          </li>
          <li class="py-2">
            <i class="fa fa-check text-success mr-3"></i><b class="mx-2">Breaking Barriers</b>
          </li>
        </ul>
      </div>
      <div class="col-lg-5">
              <img
                class="img-fluid rounded mb-5 mb-lg-0"
                src="https://th.bing.com/th/id/R.c560f3fd6ee1a9626ebd7d20d3dc9f17?rik=jmd%2b738B2ktWpQ&pid=ImgRaw&r=0"
                alt=""
              />

      </div>
    </div>
  </div>
</div>
<!-- About End -->
