<div class="details ">
  <div class=" recentOrders">
      <div class="cardHeader">
          <h2>Our Donors</h2>
      </div>

      <table>
          <thead>
              <tr>
                  <td>First Name</td>
                  <td>Last Name</td>
                  <td>Number</td>
                  <td>E-mail</td>
                  <td>Adress</td>

                  <td>Action</td>

              </tr>
          </thead>

          <tbody>
              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Adress</td>
                  <td>khbj</td>
                  <td><button class=" btn-supprimer ">Delete</button></td>

              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Adress</td>
                  <td>khbj</td>
                  <td><button class=" btn-supprimer ">Delete</button></td>

              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Adress</td>
                  <td>khbj</td>
                  <td><button class=" btn-supprimer ">Delete</button></td>
              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Adress</td>
                  <td>khbj</td>
                  <td><button class=" btn-supprimer ">Delete</button></td>
              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Adress</td>
                  <td>khbj</td>
                  <td><button class=" btn-supprimer ">Delete</button></td>
              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Adress</td>
                  <td>khbj</td>
                  <td><button class=" btn-supprimer ">Delete</button></td>

              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Adress</td>
                  <td>khbj</td>
                  <td><button class=" btn-supprimer ">Delete</button></td>

              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Adress</td>
                  <td>khbj</td>
                  <td><button class=" btn-supprimer ">Delete</button></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
