<div>
<!-- =========================== cards ======================= -->
  <div class="cardsBox">
    <div class="cardDash">
          <div class="cardbody">
            <h4 style="color:rgb(105, 186, 191);"> 10  <i class="fas fa-school" style="margin-left: 180px;"></i></h4>
            <p>School</p>
          </div>
    </div>
    <div class="cardDash">
          <div class="cardbody">
            <h4 style="color:#fa7e71;"> 15  <i class="fas fa-users" style="margin-left: 180px;"></i></h4>
            <p>Ambassador</p>
          </div>
    </div>
    <div class="cardDash">
            <div class="cardbody">
              <h4 style="color:rgb(124, 124, 255);">20<i class="fas fa-users" style="margin-left: 180px;"></i></h4>
              <p>Donor</p>
            </div>
    </div>
    <div class="cardDash">
            <div class="cardbody">
              <h4 style="color:#6fd091;">30<i class="fas fa-hand-holding-usd"  style="margin-left: 180px;"></i></h4>
              <p>Donation</p>
            </div>
    </div>
  </div>


  <!-- ================ Order Details List ================= -->
  <div class="details">
<!-- =========================== charts ======================= -->
    <div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div id="BarChart"  >
            <canvas id="statisticsBarChart"></canvas>
          </div>

        </div>
        <div class="col-md-6" >
          <div id="LineChart" >
              <canvas id="statisticsLineChart" ></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" recentOrders">
          <div class="cardHeader">
              <h2>Latest Donations</h2>
              <a href="#" class="btn">View All</a>
          </div>
          <table>
              <thead>
                  <tr>
                      <td>School</td>
                      <td>Donation</td>
                      <td>Donor</td>

                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Star Refrigerator</td>
                      <td>$1200</td>
                      <td>Paid</td>

                  </tr>

                  <tr>
                      <td>Dell Laptop</td>
                      <td>$110</td>
                      <td>Due</td>

                  </tr>

                  <tr>
                      <td>Apple Watch</td>
                      <td>$1200</td>
                      <td>Paid</td>

                  </tr>

                  <tr>
                      <td>Addidas Shoes</td>
                      <td>$620</td>
                      <td>Due</td>

                  </tr>

                  <tr>
                      <td>Star Refrigerator</td>
                      <td>$1200</td>
                      <td>Paid</td>

                  </tr>

                  <tr>
                      <td>Dell Laptop</td>
                      <td>$110</td>
                      <td>Due</td>

                  </tr>

                  <tr>
                      <td>Apple Watch</td>
                      <td>$1200</td>
                      <td>Paid</td>

                  </tr>

                  <tr>
                      <td>Addidas Shoes</td>
                      <td>$620</td>
                      <td>Due</td>

                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
         <div>
          <div class=" recentCustomers">
              <div class="cardHeader">
                  <h2>Recent Donor</h2>
              </div>

              <table>
                  <tr>
                      <td width="60px">
                          <div class="imgBx"><img src="../../assets/img/customer02.jpg" alt=""></div>
                      </td>
                      <td>
                          <h4>David <br> <span>Italy</span></h4>
                      </td>
                  </tr>

                  <tr>
                      <td width="60px">
                          <div class="imgBx"><img src="../../assets/img/visiteur/customer01.jpg" alt=""></div>
                      </td>
                      <td>
                          <h4>Amit <br> <span>India</span></h4>
                      </td>
                  </tr>

                  <tr>
                      <td width="60px">
                          <div class="imgBx"><img src="../../assets/img/customer02.jpg" alt=""></div>
                      </td>
                      <td>
                          <h4>David <br> <span>Italy</span></h4>
                      </td>
                  </tr>

                  <tr>
                      <td width="60px">
                          <div class="imgBx"><img src="../../assets/img/visiteur/customer01.jpg" alt=""></div>
                      </td>
                      <td>
                          <h4>Amit <br> <span>India</span></h4>
                      </td>
                  </tr>

                  <tr>
                      <td width="60px">
                          <div class="imgBx"><img src="../../assets/img/customer02.jpg" alt=""></div>
                      </td>
                      <td>
                          <h4>David <br> <span>Italy</span></h4>
                      </td>
                  </tr>

                  <tr>
                      <td width="60px">
                          <div class="imgBx"><img src="../../assets/img/visiteur/customer01.jpg" alt=""></div>
                      </td>
                      <td>
                          <h4>Amit <br> <span>India</span></h4>
                      </td>
                  </tr>

                  <tr>
                      <td width="60px">
                          <div class="imgBx"><img src="../../assets/img/visiteur/customer01.jpg" alt=""></div>
                      </td>
                      <td>
                          <h4>David <br> <span>Italy</span></h4>
                      </td>
                  </tr>

                  <tr>
                      <td width="60px">
                          <div class="imgBx"><img src="../../assets/img/customer02.jpg" alt=""></div>
                      </td>
                      <td>
                          <h4>Amit <br> <span>India</span></h4>
                      </td>
                  </tr>
              </table>
          </div>

         </div>
  </div>
</div>
