<!-- welcome part -->
<!-- Page Header Start -->
<div class=" py-5 mb-5" style="background: url('../../../../assets/img/visiteur/bg2.jpg') center center repeat-x;">
  <div class="container py-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">school needs managements </h1>
  </div>
</div>
<!-- Page Header End -->
<div class="container-fluid py-5">
    <div class="container">
      <div class="row align-items">
        <div class="col-lg-5">
          <img class="img-fluid rounded mb-5 mb-lg-0"
            src="https://th.bing.com/th/id/R.b8b200efa18f9387d8352f22bd82aea4?rik=h8rDrT8KANYnjA&pid=ImgRaw&r=0" alt="" />
        </div>
        <div class="col-lg-7">

          <h1 class="mb-4">List your school needs</h1>
          <p>
            Trough the tabels bellow you can add and edit you school needs
          </p>
          <div class="row pt-2 pb-4">

            <div class="col-5 col-md-3">
              <ul class="list-inline m-0">
                <li class="py-2 border-top border-bottom">
                  <i class="fa fa-check text-primary mr-3"></i> Shool supplies
                </li>
                <li class="py-2 border-bottom">
                  <i class="fa fa-check text-primary mr-3"></i>Clothes
                </li>
                <li class="py-2 border-bottom">
                  <i class="fa fa-check text-primary mr-3"></i>Money
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- About End -->
  <div class="container-fluid pt-2">
    <div class="row card-footer bg-transparent py-4">
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2"  style="height: 185px;"
            src="https://th.bing.com/th/id/OIP.taEP8MkUFfCB97hZZId9_gHaD3?rs=1&pid=ImgDetMain" alt="" />
          <div class="container ">
            <div class="card-body text-center">
              <h4 >School supplies </h4>
              <p >  Provide the list of  supplies that your students needs </p>
              <hr>
            </div>
            <div class=" bg-transparent ">
              <div class="input-group mb-3">
                <input type="text" class="form-control mr-2" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="button-addon2">  <i class="fas fa-book"></i>  search  </button>
                </div>
              </div>
            </div>
            <div class=" bg-transparent">
              <div style="display: grid; grid-template-columns: 70% 34%;">
                <form style="display: flex; justify-content: space-between;">
                  <input type="text" #typeNeeds1 class="form-control mr-2" placeholder="Type" aria-label="text" aria-describedby="button-addon2">
                  <input type="text" #quantity1 class="form-control mr-2" placeholder="Number" aria-label="text" aria-describedby="button-addon2">
                </form>
                  <button type="submit"  (click)="addSchool(typeNeeds1.value, quantity1.value)" class="btn btn-primary"  style="margin-top: 3px;" id="button-addon2">
                    <i class="fas fa-book"></i>  ADD
                  </button>
              </div>
            </div>

            <!-- Table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>shool supply</th>
                  <th>quantity</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let Is of selectedItemsSchool" >
                  <td>{{ Is.typeNeeds }}</td>
                  <td>{{ Is.quantity }}</td>
                  <td style="display: flex; justify-content: space-between;">
                    <button class="btn btn-primary float-end "> <i class="fa fa-trash"></i> </button>
                  </td>
                </tr>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </div>

          <!-- Edit Modal -->
          <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editModalLabel">Edit Table</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!-- Add or delete new line controls go here -->
                  <p>Do you want to add or delete a new line?</p>
                  <button class="btn btn-success">Add Line</button>
                  <button class="btn btn-danger">Delete Line</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2 " style="height: 185px;"
            src="https://th.bing.com/th/id/OIP.FfYK9UeVFH7EERd20yACMgHaE8?rs=1&pid=ImgDetMain" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Clothes</h4>
            <p class="card-text">
              Provide the list of Clothes that your students needs
            </p>
          </div>
          <hr>
          <div class=" bg-transparent ">
            <div class="input-group mb-3">

              <input type="text" class="form-control mr-2" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2">
                  <i class="fas fa-tshirt"></i>  search
                </button>
              </div>
            </div>
          </div>
          <div class=" bg-transparent">
            <div style="display: grid; grid-template-columns: 70% 34%;">
              <form style="display: flex; justify-content: space-between;">
                <input type="text" #typeNeeds1 class="form-control mr-2" placeholder="Type" aria-label="text" aria-describedby="button-addon2">
                <input type="text" #quantity1 class="form-control mr-2" placeholder="Number" aria-label="text" aria-describedby="button-addon2">
              </form>
                <button type="submit"  (click)="addCloths(typeNeeds1.value, quantity1.value)" class="btn btn-primary"  style="margin-top: 3px;" id="button-addon2">
                  <i class="fas fa-book"></i>  ADD
                </button>
            </div>
          </div>

          <!-- Table -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>shool supply</th>
                <th>quantity</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Is of selectedItemsClothes" >
                <td>{{ Is.typeNeeds }}</td>
                <td>{{ Is.quantity }}</td>
                <td style="display: flex; justify-content: space-between;">
                  <button class="btn btn-primary float-end "> <i class="fa fa-trash"></i> </button>
                </td>
              </tr>
              <!-- Add more rows as needed -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
      <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" height="185px"
            src="https://th.bing.com/th/id/OIP.whDjYofrcgnvHPcGC8-PQAAAAA?rs=1&pid=ImgDetMain" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Money</h4>
            <p class="card-text">
              Provide the amont of money that your students needs
            </p>
          </div>
          <hr>
          <div class=" bg-transparent ">
            <div class="input-group mb-3">
              <input type="text" class="form-control mr-2" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2">
                  <i class="fas fa-money-bill-alt"></i>  search
                </button>
              </div>
            </div>
          </div>
          <div class=" bg-transparent ">
            <div class="input-group mb-3">

              <input type="text" class="form-control mr-2" placeholder="Dt" aria-label="Search" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="button-addon2" (click)="openDetailsModal()">
                  <i class="fas fa-money-bill-alt"></i>  ADD
                </button>
              </div>
            </div>
          </div>

          <!-- Table -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Money</th>


              </tr>
            </thead>
            <tbody>
              <!-- Sample Table Data -->
              <tr>

                <td> 200 dt</td>
                <td>
                  <button class="btn btn-primary float-end ">view </button>
                </td>
              </tr>
              <!-- Add more rows as needed -->
            </tbody>
          </table>
      </div>
      </div>
  <!-- Class End -->
  <div class="modal-overlay" id="modalAdd">
    <div class="modal-content">
      <span class="modal-close" (click)="onNoClick()">&times;</span>
        <h4>You have added </h4>
        <div>
          <h3>Results:</h3>
          <p>Type: {{ typeNeeds }}</p>
          <p>Quantity: {{ quantity }}</p>
        </div>
    </div>

  </div>
