.vert{
  color:#01b5b2;
}
.background-vert{
  background-color: #01b5b2;
}
.background-rose{
  background-color: rgb(250, 60, 246);
}
.rose{
  color:rgb(250, 60, 246);
}
.mauve{
  color:#7b4fc1;
}
.background-mauve{
  background-color: #7b4fc1;

}
.blanc{
  color:white;
}
