<div class="py-5 position-relative mb-5 causes-header">
  <div class="container py-5">
      <h1 class="display-2 text-white animated slideInDown mb-4">Our causes</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Our causes</li>
        </ol>
      </nav>
  </div>
</div>
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">School activities</h1>
        <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
      </div>
      <div class="row g-4" >
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s" *ngFor="let cause of causes">
            <div class="activities-item">
                <div class="bg-light rounded-circle w-75 mx-auto p-3">
                  <img class="img-fluid rounded-circle img-school" src="{{ cause.img }}" alt="{{ cause.school }}">
                </div>
                <div class="bg-light rounded p-4 pt-5 mt-n5">
                    <a class="d-block text-center h4 mt-3 mb-4">{{ cause.school }}</a>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="d-flex align-items-center">
                            <div>
                              <h6 class="mb-1"> <b class="text-info mb-1">Ambassador </b><b class="text-primary mb-1">{{ cause.ambassador }}</b> ({{ cause.ambassadorRole }})</h6>
                              <b>Address: </b>{{ cause.adresse }}
                            </div>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="col-4">
                            <div class="border-top border-3 border-primary pt-2">
                                <h6 class="text-primary mb-1">Students: <small>{{ cause.student }}</small></h6>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-success pt-2">
                                <h6 class="text-success mb-1">Teachers:<small>{{ cause.teacher}}</small></h6>

                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-warning pt-2">
                                <h6 class="text-warning mb-1">Class:<small>{{ cause.class }}</small></h6>

                            </div>
                        </div>
                    </div>
                    <b>Needs: </b>
                    <div class="row g-1">
                      <div class="col-4">
                          <div class="border-top border-3 border-primary pt-2">
                              <h6 class="text-primary mb-1">Students: <small>{{ cause.student }}</small></h6>

                          </div>
                      </div>
                      <div class="col-4">
                          <div class="border-top border-3 border-success pt-2">
                              <h6 class="text-success mb-1">Teachers:<small>{{ cause.teacher}}</small></h6>

                          </div>
                      </div>
                      <div class="col-4">
                          <div class="border-top border-3 border-warning pt-2">
                              <h6 class="text-warning mb-1">Class:<small>{{ cause.class }}</small></h6>

                          </div>
                      </div>
                  </div>


                  <div class="text-center">
                    <span class="p-2 m-1" *ngFor="let b of cause.besoin">{{ b }}</span>
                  </div>
                    <div class="text-center mt-3">
                        <a href="#" class="bg-primary text-white rounded-pill py-2 px-3">{{ cause.moreInfo }}</a>
                    </div>
                </div>
            </div>
          </div>
    </div>

      <!-- <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="activities-item">
                  <div class="bg-light rounded-circle w-75 mx-auto p-3">
                      <img class="img-fluid rounded-circle" src="assets/img/activities-1.jpg" alt="">
                  </div>
                  <div class="bg-light rounded p-4 pt-5 mt-n5">
                      <a class="d-block text-center h3 mt-3 mb-4" href="">Art & Drawing</a>
                      <div class="d-flex align-items-center justify-content-between mb-4">
                          <div class="d-flex align-items-center">
                              <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 45px; height: 45px;">
                              <div class="ms-3">
                                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                                  <small>Teacher</small>
                              </div>
                          </div>
                          <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
                      </div>
                      <div class="row g-1">
                          <div class="col-4">
                              <div class="border-top border-3 border-primary pt-2">
                                  <h6 class="text-primary mb-1">Age:</h6>
                                  <small>3-5 Years</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-success pt-2">
                                  <h6 class="text-success mb-1">Time:</h6>
                                  <small>9-10 AM</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-warning pt-2">
                                  <h6 class="text-warning mb-1">Capacity:</h6>
                                  <small>30 Kids</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="activities-item">
                  <div class="bg-light rounded-circle w-75 mx-auto p-3">
                      <img class="img-fluid rounded-circle" src="assets/img/activities-2.jpg" alt="">
                  </div>
                  <div class="bg-light rounded p-4 pt-5 mt-n5">
                      <a class="d-block text-center h3 mt-3 mb-4" href="">Color Management</a>
                      <div class="d-flex align-items-center justify-content-between mb-4">
                          <div class="d-flex align-items-center">
                              <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 45px; height: 45px;">
                              <div class="ms-3">
                                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                                  <small>Teacher</small>
                              </div>
                          </div>
                          <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
                      </div>
                      <div class="row g-1">
                          <div class="col-4">
                              <div class="border-top border-3 border-primary pt-2">
                                  <h6 class="text-primary mb-1">Age:</h6>
                                  <small>3-5 Years</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-success pt-2">
                                  <h6 class="text-success mb-1">Time:</h6>
                                  <small>9-10 AM</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-warning pt-2">
                                  <h6 class="text-warning mb-1">Capacity:</h6>
                                  <small>30 Kids</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="activities-item">
                  <div class="bg-light rounded-circle w-75 mx-auto p-3">
                      <img class="img-fluid rounded-circle" src="assets/img/activities-3.jpg" alt="">
                  </div>
                  <div class="bg-light rounded p-4 pt-5 mt-n5">
                      <a class="d-block text-center h3 mt-3 mb-4" href="">Athletic & Dance</a>
                      <div class="d-flex align-items-center justify-content-between mb-4">
                          <div class="d-flex align-items-center">
                              <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 45px; height: 45px;">
                              <div class="ms-3">
                                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                                  <small>Teacher</small>
                              </div>
                          </div>
                          <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
                      </div>
                      <div class="row g-1">
                          <div class="col-4">
                              <div class="border-top border-3 border-primary pt-2">
                                  <h6 class="text-primary mb-1">Age:</h6>
                                  <small>3-5 Years</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-success pt-2">
                                  <h6 class="text-success mb-1">Time:</h6>
                                  <small>9-10 AM</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-warning pt-2">
                                  <h6 class="text-warning mb-1">Capacity:</h6>
                                  <small>30 Kids</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="activities-item">
                  <div class="bg-light rounded-circle w-75 mx-auto p-3">
                      <img class="img-fluid rounded-circle" src="assets/img/activities-4.jpg" alt="">
                  </div>
                  <div class="bg-light rounded p-4 pt-5 mt-n5">
                      <a class="d-block text-center h3 mt-3 mb-4" href="">Language & Speaking</a>
                      <div class="d-flex align-items-center justify-content-between mb-4">
                          <div class="d-flex align-items-center">
                              <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 45px; height: 45px;">
                              <div class="ms-3">
                                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                                  <small>Teacher</small>
                              </div>
                          </div>
                          <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
                      </div>
                      <div class="row g-1">
                          <div class="col-4">
                              <div class="border-top border-3 border-primary pt-2">
                                  <h6 class="text-primary mb-1">Age:</h6>
                                  <small>3-5 Years</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-success pt-2">
                                  <h6 class="text-success mb-1">Time:</h6>
                                  <small>9-10 AM</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-warning pt-2">
                                  <h6 class="text-warning mb-1">Capacity:</h6>
                                  <small>30 Kids</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="activities-item">
                  <div class="bg-light rounded-circle w-75 mx-auto p-3">
                      <img class="img-fluid rounded-circle" src="assets/img/activities-5.jpg" alt="">
                  </div>
                  <div class="bg-light rounded p-4 pt-5 mt-n5">
                      <a class="d-block text-center h3 mt-3 mb-4" href="">Religion & History</a>
                      <div class="d-flex align-items-center justify-content-between mb-4">
                          <div class="d-flex align-items-center">
                              <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 45px; height: 45px;">
                              <div class="ms-3">
                                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                                  <small>Teacher</small>
                              </div>
                          </div>
                          <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
                      </div>
                      <div class="row g-1">
                          <div class="col-4">
                              <div class="border-top border-3 border-primary pt-2">
                                  <h6 class="text-primary mb-1">Age:</h6>
                                  <small>3-5 Years</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-success pt-2">
                                  <h6 class="text-success mb-1">Time:</h6>
                                  <small>9-10 AM</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-warning pt-2">
                                  <h6 class="text-warning mb-1">Capacity:</h6>
                                  <small>30 Kids</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="activities-item">
                  <div class="bg-light rounded-circle w-75 mx-auto p-3">
                      <img class="img-fluid rounded-circle" src="assets/img/activities-6.jpg" alt="">
                  </div>
                  <div class="bg-light rounded p-4 pt-5 mt-n5">
                      <a class="d-block text-center h3 mt-3 mb-4" href="">General Knowledge</a>
                      <div class="d-flex align-items-center justify-content-between mb-4">
                          <div class="d-flex align-items-center">
                              <img class="rounded-circle flex-shrink-0" src="assets/img/user.jpg" alt="" style="width: 45px; height: 45px;">
                              <div class="ms-3">
                                  <h6 class="text-primary mb-1">Jhon Doe</h6>
                                  <small>Teacher</small>
                              </div>
                          </div>
                          <span class="bg-primary text-white rounded-pill py-2 px-3" href="">$99</span>
                      </div>
                      <div class="row g-1">
                          <div class="col-4">
                              <div class="border-top border-3 border-primary pt-2">
                                  <h6 class="text-primary mb-1">Age:</h6>
                                  <small>3-5 Years</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-success pt-2">
                                  <h6 class="text-success mb-1">Time:</h6>
                                  <small>9-10 AM</small>
                              </div>
                          </div>
                          <div class="col-4">
                              <div class="border-top border-3 border-warning pt-2">
                                  <h6 class="text-warning mb-1">Capacity:</h6>
                                  <small>30 Kids</small>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
</div>
