
<div class="details">

  <div class=" recentOrders">
      <div class="cardHeader">
          <h2>Schools Wie Support</h2>

      </div>

      <table>
          <thead>
              <tr>
                  <td>School</td>
                  <td>Location</td>
                  <td>Ambassador</td>
                  <td>Student Number</td>
                  <td>Needs</td>
                  <td>Action</td>

              </tr>
          </thead>

          <tbody>
              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>3 bouttons</td>

              </tr>

              <tr>
                  <td>Dell Laptop</td>
                  <td>$110</td>
                  <td>Due</td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>

              </tr>

              <tr>
                  <td>Apple Watch</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>

              </tr>

              <tr>
                  <td>Addidas Shoes</td>
                  <td>$620</td>
                  <td>Due</td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>

              </tr>

              <tr>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>

              </tr>

              <tr>
                  <td>Dell Laptop</td>
                  <td>$110</td>
                  <td>Due</td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>

              </tr>

              <tr>
                  <td>Apple Watch</td>
                  <td>$1200</td>
                  <td>Paid</td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>

              </tr>

              <tr>
                  <td>Addidas Shoes</td>
                  <td>$620</td>
                  <td>Due</td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>Paid</td>

              </tr>
          </tbody>
      </table>
  </div>
  </div>



